extends layout

block content

	h2 Welcome to #{user.name}'s mailbox
	p Your ID: #{user.id}
	p Groups:
		if user.groups.length == 0
			|  You are not part of any groups
		

		ul
			- for(var i = 0; i < user.groups.length; i++) {
				li 
					form(action='/user/#{user._id}/group/delete', method='post')
						label #{user.groups[i]}
						input(type='text', 
							name='name',
							value='#{user.groups[i]}',
							style='display:none')
						input(type='submit', value='remove')
			- }

	p 
		form(action='/user/#{user._id}/group', method='post')
			label(for='name') Add To Group:
			input(type='text', name='name', placeholder='Group Name')
			input(type='submit', value='Add to group')


	br
	br
	table
		caption(style="font-weight:bold") Inbox
		tr 
			td From
			td From ID
			td View
			td
		- for (var i =0; i < user.messages.length; i++) {
			tr 
				td #{user.messages[i].from}
				td #{user.messages[i]._id}
				td 
					a(href='/user/#{user._id}/message/#{user.messages[i]._id}') View
			
				- if (user.messages[i].unread){
					td unread
				- }else{
					td read
				-}
			
				td
					form(action='/user/#{user._id}/message/#{user.messages[i]._id}/delete', method='post')
						input(type='submit', value='Delete')


		- }

	br
	br
	p Compose a message

	form(action='/user/#{user._id}/message', method='post')
		div
			label(for='to') Recipient ID: 
			input(type='text', name='to', placeholder='ID')
		br
		div
			label(for='group') Group Name: 
			textarea(name='group', rows='1', cols='35', placeholder='Specify "all" to broadcast to everyone')
		br
		div
			label(for='body') Message
		div
			textarea(name='body', rows='15', cols='50', placeholder='Message Text')

		div
			input(type='text', 
				name='name',
				value='#{user.name}',
				style='display:none')

			input(type='submit', value='Send Message') 

	p
		a(href='/') Return to user list
