extends layout

block content

	p From: #{message.from}
	p 
		From ID: 
		a(href='/user/#{message.from_id}') #{message.from_id}
	p
		| !{message.body}

	p
		a(href='/user/#{recipient_id}') Back to Inbox