extends layout

block content

	h2 Udactiy Interview
	h5 (hi Mom!)

	br
	p Add a new user:
		form(action='/user', method='post')
			input(type='text', name='name', placeholder="name")#name
			input(type='submit', value='Create User')

	p List of users:

	table
		td name
		td ID
		- for (var i = 0; i<users.length; i++) {
			tr 
				td 
					a(href="/user/#{users[i]._id}") #{users[i].name}
				td #{users[i]._id}
				td 
					form(action='/user/#{users[i]._id}/delete', method='post')
						input(type='submit', value='Delete User')
		- }